#left,
#right {
  height: 100%;
  width: 48%;
}

#left {
  float: left;
}

#left > input {
  width: 100%;
}

#right {
  float: right;
}

#right > textarea {
  min-height: 400px;
  height: 100%;
  width: 100%;
}



.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
